/* Оформление ПОДВАЛА страницы */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: $footer-bgr-color;
}

.footer-logo {
  margin-bottom: 20px;
  font-family: $secondary-font;
  @include font($fs: 26px, $fw: 700, $lh: 1.19);
  color: $secondary-white-text-color;
}

.footer-address-map {
  font-style: normal;
  @include font($fs: 14px);
  color: $secondary-white-text-color;
  transition: $transition-color;
}

.footer-address-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-mail,
.footer-address-tel {
  @include font($fs: 14px);
  color: $footer-address-text-color;
  transition: $transition-color;
}
.join {
  @include font($fs: 14px);
  text-transform: uppercase;
  color: $secondary-white-text-color;
  margin-bottom: 20px;
}

.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus,
.footer-address-map:hover,
.footer-address-map:focus {
  color: $accent-color;
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  @include flex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: $transition-bgr-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social-icon {
  fill: $primary-bgr-color;
  width: 20px;
  height: 20px;
}

.subscribe {
  @include flex();
  @include font($lh: 1.88);
  width: 200px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: $accent-color;
  color: $secondary-white-text-color;
}

.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 11px;
  fill: $secondary-white-text-color;
}

.form-subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $footer-bgr-color;
  color: $footer-address-text-color;

  &::placeholder {
    color: $footer-address-text-color;
  }
}

.form-subscribe-title {
  @include font($fs: 14px);
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  color: $secondary-white-text-color;
}

// Стили для смартфона ======================

@media screen and (max-width: 767px) {
  .footer {
    min-width: 480px;
    text-align: center;
  }

  .footer-logo {
    @include font($fs: 26px, $fw: 700, $lh: 1.19);
  }

  .footer-address,
  .footer-join {
    margin-bottom: 60px;
  }

  .footer-address-map,
  .footer-address-mail,
  .footer-address-tel {
    @include font($fs: 14px, $fw: 400, $lh: 1.71);
  }

  .footer-address-list:not(:last-child) {
    margin-bottom: 8px;
  }

  .footer-social-list {
    padding-left: 122px;
  }

  .form-subscribe-input {
    width: 450px;
    margin-bottom: 20px;
  }

  .subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

// Стили для планшета ======================

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-for-tablet {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
  }

  .footer-logo-addres,
  .footer-join {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    @include font($fs: 24px, $lh: 1.17);
  }

  .form-subscribe-input {
    margin-bottom: 20px;
  }

  .form-subscribe-title,
  .form-subscribe {
    text-align: center;
  }

  .form-subscribe-input {
    width: 450px;
  }

  .subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

// Стили для десктопа ======================

@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;

    .container {
      display: flex;
    }
  }

  .footer-for-tablet {
    display: flex;
  }

  .footer-logo-addres,
  .footer-join {
    display: flex;
    flex-direction: column;
  }

  .footer-address {
    margin-right: 69px;
  }

  .footer-join {
    margin-top: 12px;
    margin-right: 94px;
  }

  .form-subscribe-input {
    width: 358px;
    margin-right: 12px;
  }

  .form-subscribe-title {
    padding-top: 12px;
  }

  .form-subscribe {
    @include flex();
    flex-wrap: wrap;
  }
}
