/* Оформление страницы ПОРТФОЛИО */
/* Оформление фильтер-кнопок */

.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  @include font($fw: 500, $lh: 1.63);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $primary-bgr-filter-btn-color;
  color: $primary-title-color;
  transition: $transition-bgr-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-white-text-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.filter-button-item:not(:last-child) {
  margin-right: 8px;
}

// Стили для смартфона ======================

@media screen and (max-width: 767px) {
  .section-filter-button {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .filter-button-list {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-button-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

// Стили для планшета ======================

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-button-list {
    @include flex();
  }

  .section-filter-button {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

// Стили для десктопа ======================

@media screen and (min-width: 1200px) {
  .section-filter-button {
    padding-top: 93px;
    padding-bottom: 50px;
  }

  .filter-button-list {
    @include flex();
  }
}
